.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background:  rgb(50, 50, 50);
}

#authorText,
#dateText,
#containedInBranchesText,
#parentText,
#messageText,
#sha1Text
{
    -fx-fill : white;
}

#arrowImageView{
    -fx-image: url("/javafx/primary/left/committree/node/branch/arrowWhite.png");
}

.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-color: -fx-hover-base;
}

.table-view {
    -fx-table-cell-border-color:derive(-fx-base,+10%);
    -fx-table-header-border-color:derive(-fx-base,+20%);
}

.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent -fx-base transparent -fx-base;
    -fx-background-color: transparent, derive(-fx-base,20%);
    -fx-background-insets: 0, 0 1 0 1;
}


.separator-label {
    -fx-text-fill: orange;
}